= partial(:header, :locals => {:repo => @repo})
%h3
  ="Blob: #{linked_path_for(params[:splat].first)}"
.active
  .blob
    %h4
      %img{:src => prefix_url("img/doc.png")}/
      = @blob.name
    %pre
      %code= h(@blob.data)
  .clearfix &nbsp;
