= partial(:header, :locals => {:repo => @repo})
%script{:charset => "utf-8", :src => prefix_url("src/raphael.js"), :type => "text/javascript"}
%script{:charset => "utf-8", :type => "text/javascript"}
  var chunk1={commits:<haml:loud>@commits_json</haml:loud>}
  var days=<haml:loud>@days_json</haml:loud>
%script{:charset => "utf-8", :src => prefix_url("src/branch-graph.js"), :type => "text/javascript"}
:javascript
  window.onload = function(){
  	branchGraph(document.getElementById("holder"));
  }
%link{:href => prefix_url("src/graph.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}/
#holder.graph
