!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Ginatra
    %link{:href => prefix_url("src/index.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => prefix_url("src/ginatra.js"), :type => "text/javascript"}
    %script{:src => prefix_url("src/highlight.pack.js"), :type => "text/javascript"}
    :javascript
      hljs.initHighlightingOnLoad();
    %link{:href => prefix_url("src/github.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => prefix_url("src/bootstrap.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => prefix_url("src/stylesheet.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}

  %body
    #content
      #inner
        %h1
          %a{:href => prefix_url} Ginatra
        = yield
      #footer-spacer &nbsp;
    #footer
      Ginatra &mdash; &copy; 2009 Samuel Elliott &mdash;
      %a{:href => "http://www.opensource.org/licenses/mit-license.php"} MIT Licence
