body {
  padding-top: 60px;
}
.topbar h3 img {
  position: relative;
  top: 3px;
  left: 5px;
  width: 25px;
  height: 25px;
}
img.tree, img.blob {
  position: relative;
  top: 2px;
  margin-right: 7px;
}
pre code {
  line-height: 1.7em;
}
.page-nav {
  padding: 10px 0 20px 5px;
}
.commit-info-menu {
  float: right;
  ul {
    margin-bottom: 0;
  }
}
.clearboth {
  clear: both;
}
h6 {
  text-transform: none;
}
